.country-picker{
    background: #f8f9fe;
    padding-top: 20px;
}

.country-picker form{
    margin-top: 20px;
}
.country-picker label{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
