.content-wrap{
    background:#101010;
    color: #c6c9d8;
    padding: 60px 0;
 }

.content h4{
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.content h4 span{
    display: inline-block;
    margin-right: 8px;
    background:  -webkit-linear-gradient(145deg,#f81f01,#ee076e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}