.header-wrap{
    background-color: #101010;
    border-bottom:1px solid #000;
    padding:12px 0;
}

.header{
    font-size: 20px;
    font-weight: 700;
}

.menu{
    margin-bottom: 0;
    padding: 6px 0;
}

.menu li{ 
    list-style: none;
    display: inline-block;
}

.menu li a{
    color: #fff;
    padding: 10px 15px ;
    font-size: 17px;
    font-weight: 600;
}
.menu li a:hover{
    text-decoration: none;
    background:  -webkit-linear-gradient(145deg,#f81f01,#ee076e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

@media screen and (max-width:767px){
    .right,.left{
        text-align:  center !important;
    }
}