.footer-wrap{
    border-top:1px solid #000;
    background-color: #101010;
    padding: 15px 0;

}

.footer-wrap p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    background:  -webkit-linear-gradient(145deg,#f81f01,#ee076e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}